.container {
  position: absolute;
  padding-top:250px;
  /* margin: auto; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 100px;
  border-radius: 3px;
}

.jumbotron {
    background-color:#4a4a4a;
}

.jumbotron h3 {
    color:white;
}

body {
  background-color:#b3b3b3;
}