.container {
  position: absolute;
  padding-top:40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 600px; */
  height: 100px;
  border-radius: 3px;
}

.jumbotron {
    background-color:#4a4a4a;
}

.jumbotron img {
  max-width:75%;
}

.jumbotron h3 {
    color:white;
}

body {
  background-color:#b3b3b3;
  text-align:center;
}