<div class="header">
    <a href="#" class="logo"><%= settings.appname %></a>
    <div class="header-right">
      <a href="https://github.com/awexxx/sharex-express">GitHub Repository</a>
      <a href="#" onclick="darkMode()">Dark Mode</a>
    </div>
  </div>