.container {
    position: absolute;
    padding-top:40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* width: 600px; */
    height: 100px;
    border-radius: 3px;
  }
  
  .container {
      padding-top:140px;
  }

  .jumbotron {
      background-color:#4a4a4a;
  }
  
  .jumbotron img {
    max-width:75%;
  }
  
  .jumbotron h3 {
      color:white;
  }
  
  body {
    background-color:#b3b3b3;
    text-align:center;
  }

  input[type=text], select, textarea {
    width: 20%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=button] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }