<html>
    <head>
        <title>Not Found</title>
        <meta name="viewport" content="width=device-width,minimum-scale=0.1">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- ----- Meta Tags // Embed ----- -->
        <!-- Classic Discord Embed -->
        <meta property="og:site_name" content="<%= settings.name %>" />
        <meta property="og:title" content="Photo not found!" />
        <meta name="theme-color" data-react-helmet="true" content="<%= settings.embedColor %>" />
        <meta property="og:footer" content="Made with ShareX-Express" />
    </head>

    <div class="container">
        <h1 class="typewriter">not found</h3>
            <p class="typewriter-2">click <a href="javascript:location.reload()">here</a> to retry.</p>
    </div>

    <p style="color:white; position:absolute; bottom:0; width:100%; left:0;"><a href="/profile">Profile</a> | <a href="https://github.com/zevhr/sharex-express" target="_blank">GitHub</a></p>
</html>
